body {
    margin: 80px;
    background-image: url(../images/sprMono3.jpg);
    font-weight:bold;

}

.jumbotron {
    color: darkslateblue;
    opacity: 0.85;
    font-size: 30px;
    background:lightgray;
    padding: 32px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;


}

.panel {
    color: darkslateblue;
    font-weight: bold;
    background: lightgray;
    opacity: .85;
    padding: 5px;
    }

.panel-title {
        text-decoration: underline;
    }

#addTrainBtn {
        margin: 5px;
        padding: 5px;
    }

label {
        font-size: 1.25rem;
    }

th {
        text-decoration: underline;
        font-size: 1.25rem;
    }

    .table {
        text-align: center;
    }